# Directories #
################################################################################
**/.Xil
**/*.sim
**/*.cache
**/*.hw
**/*.ip_user_files
**/*.ioplanning
**/*.runs

# Files #
################################################################################
*.jou
*.log
*.xpr
*.dmp

